.dateSelector {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
}

.date {
    font-size: 22px;
    font-weight: 600;
}

.btn {
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    cursor: pointer;
    padding: 16px;
}

.btn:active:hover {
    background: #eee;
}
