.item {
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    cursor: pointer;
    flex: 0 0 50%;
    padding: 12px;
}

@media screen and (min-width: 410px) {
    .item {
        padding: 24px;
    }
}

.item:active:hover {
    background: #eee;
}

.name {
    font-weight: 700;
    margin-bottom: 4px;
}

.amount {
    color: #6574ca;
}

.data {
    display: flex;
}

.kcal,
.prot {
    border: 1px solid #eee;
    flex: 1;
    padding: 4px;
}
