.button {
    background: #263276;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 16px;
    text-align: center;
    width: auto;
    white-space: nowrap;
}

.button:active:hover {
    background: #3d4da9;
}

@media all and (min-width: 1080px){
    .button:hover {
        background: #3d4da9;
    }
}
