.input {
    background: #fff;
    border: 0;
    border-bottom: 1px solid #263276;
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    height: 40px;
    line-height: 18px;
    margin: 0;
    padding: 8px;
    width: 100%;
}

.input:hover,
.input:focus {
    background: #eee;
}

.input:focus {
    border-bottom: 2px solid #263276;
    outline: 0;
}
