.title {
	color: #263276;
	font-size: 18px;
	font-weight: 600;
	line-height: 56px;
	margin: 0;
}

.field {
    margin-bottom: 8px;
}

.row {
    display: flex;
    margin-bottom: 8px;
}
.row input:first-child {
    margin-right: 8px;
}

.btn {
    margin-top: 8px;
}

.errorMsg {
    color: rgb(134, 0, 0);
}
